<!-- Modal -->
<div class="modal fade" id="my-modal" tabindex="-1" aria-labelledby="my-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modalLabel">New post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for Post.new do |f| %>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :url %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
